.container{
    margin-top: 100px;
    width: 500px;
}

ul{
    padding: 0;
    margin-bottom: 0;
}

ul li{
    border: 1px solid rgb(77, 74, 74);
    list-style: none;
    padding: 7px;
    background-color: rgb(245, 240, 234);
    color: blue;
    font-size: 1.5rem;
}

h1{
    text-align: center;
}

input{
    border: none;
    width: 100%;
    height:40px;
    background-color: rgb(209, 205, 199);
}

i{
    color:brown;
    display: block;
    float:right;
    visibility: hidden;
}

 li:hover >i{
    visibility: visible;
}
